.card {
    border: 1.5px solid hsl(0 0% 0%);
    border-radius: 0.5rem;
    padding: 1.5rem 2rem;
    background: hsl(0 0% 100%);
    color: black;
    min-width: 20rem;
}

.date {
    font-weight: 300;
    font-style: italic;
    padding: 0.5rem 0 2rem 0;
}

.phone,
.status {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}