.card {
    border: 1.5px solid hsl(0 0% 0%);
    border-radius: 0.5rem;
    padding: 1.5rem 2rem;
    background: hsl(0 0% 100%);
}

.appointmentDate {
    font-weight: 300;
    padding-block-end: 2rem;
}

.phone {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-block-end: 0.5rem;
}