.main {
    display: flex;
    min-height: 100dvh;
    width: 100%;
    margin-inline: auto;
    max-width: 50rem;
    justify-content: space-evenly;
    align-items: center;
    padding: 120px 60px;
}

.link {
    background-color: var(--foreground);
    color: var(--background);
    padding: 1rem 2rem;
    border-radius: 0.5rem;
}
